/* container */

#sss4givewp {
    width: 100%;
    text-align: center;
}

/* buttons */

#sss4givewp a {
    width: 40px;
    height: 40px;
    line-height: 0;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
    text-decoration: none;
    padding: 10px;
}

#sss4givewp a svg {
    fill: white;
    width: 20px;
    height: 20px;
}

#sss4givewp a:hover {
    opacity: 1;
}

/* colors */

.socicon-facebook {
    background: #3e5b98;
}

.socicon-twitter {
    background: #4da7de;
}

.socicon-linkedin {
    background: #3371b7;
}